p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    text-align: left;
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    line-height: 1.2;
    color: #333;
    text-align: left;
  }
  
  h1 {
    font-size: 36px;
  }
  
  h2 {
    font-size: 28px;
  }
  
  h3 {
    font-size: 24px;
  }
  
  h4 {
    font-size: 20px;
  }
  
  h5 {
    font-size: 18px;
  }
  
  h6 {
    font-size: 16px;
  }
  

/* Left Sidebar */
.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #22543D;
    overflow-x: hidden;
    padding-top: 16px;
  }
  /* Sidebar Links */
  .sidebar a {
    padding: 10px 8px 10px 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
  }

  /* Main content */
.main-title {
    margin-left: 200px;
    padding: 20px;
    background-color: #E8E8E8;
  }

  /* Typography CSS */
.typography {
    margin-left: 200px;
    padding: 20px;
  }

  /* Boxes css*/
.container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 200px;
  padding: 20px;
}

.box {
  width: calc(25% - 20px);
  margin: 10px;
  padding: 20px;
  text-align: center;
}

.box1 {
  background-color: #333;
  color: #fff;
}

.box2 {
  background-color: #333;
  color: #fff;
}

.box3 {
  background-color: #F7F7F7;
  color: #333;
}

.box4 {
  background-color: #E8E8E8;
  color: #333;
}

.box5 {
  background-color: #22543D;
  color: #fff;
}

.box6 {
  background-color: #8BC34A;
  color: #fff;
}

.box7 {
  background-color: #22543D;
  color: #fff;
}

.box8 {
  background-color: #FF5252;
  color: #fff;
}

.box9 {
  background-color: #689F38;
  color: #fff;
}

.box10 {
  background-color: #FFB900;
  color: #333;
}

.spacing {
  margin-left: 200px;
  padding: 20px;
}

.images {
  margin-left: 200px;
  padding: 20px;
}


.portrait-shape {
  width: 200px;
  height: 133px;
  /* 200 / 3 * 2 = 133.33, rounded down to 133 */
  border-radius: 5px;
  text-align: center;
  background-color: #E8E8E8;
}

.landscape-shape {
  width: 400px;
  height: 225px;
  /* 400 / 16 * 9 = 225 */
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
  background-color: #E8E8E8;
}

.navigation {
  margin-left: 200px;
  padding: 20px;
  width: 70%;
}

.navbar {
  background-color: #22543D;
  text-align: center;
  padding: 10px;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav-item {
  margin: 0 20px;
  position: relative;
}

.nav-item a {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  display: block;
  padding: 10px;
}

.sub-menu {
  background-color: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
  padding: 10px;
  display: none;
}

.sub-menu-item {
  margin: 0;
  padding: 0;
}

.sub-menu-item a {
  color: #333;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  display: block;
  padding: 10px;
}

.nav-item:hover .sub-menu {
  display: block;
  list-style: none;
}

/* Hamburger */

.hamburger {
  margin-left: 200px;
  padding: 20px;
  width: 80%;
}

/* Buttons */
.buttons {
  margin-left: 200px;
  padding: 20px;
}

.primary-button {
  background-color: #8BC34A;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  border: none;
  border-radius: 5px;
  text-align: center;
  padding: 10px 20px;
}

.primary-button:hover {
  background-color: #689F38;
}

.secondary-button {
  background-color: #689F38;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  border: none;
  border-radius: 5px;
  text-align: center;
  padding: 10px 20px;
}

.secondary-button:hover {
  background-color: #8BC34A;
}